* {
	margin:0;
	padding:0;
}

html,body{
	height:100%;
	
}


@font-face {
	font-family:Roboto;
	src:url(fonts/Roboto-Bold.woff2) format(woff2),
		url(fonts/Roboto-Bold.woff) format(woff),
		url(fonts/Roboto-Bold.ttf) format(ttf);
}



/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */


.lorem {
	font-family: 'Roboto', Arial, sans-serif;
}

.social-icon {
	display:inline-block;
	border:1px solid red;
	width:60px;
	height:60px;
	
}

.social {
	border:1px solid black;
	width:355px;
	background-color:yellow;
}

.social:hover {
	cursor:pointer;
}

.item1 {
	background-image:url('http://iconion.com/posts/images/social-icons.jpg');
	background-position:-178px 0px;
}



body {
		background-color:#f8f8f8;
		margin:20px;
}

.parent{
		margin:0 auto;
		width:50%;
		height:40%;
		display:flex;
		
	
}

.child{
		margin:0 auto;
		width:50%;
		float:left;
		text-align:center;
		
	
}

.click{
		
		background-color:#1E90FF	;
		border:2px solid black;
		padding:5px;
		margin:0 auto;
		width:15%;
		text-align:center;
		display:block;
		
}

.click a{
		color:white;
		text-decoration:none;
		
}
.click a:hover {
		color:red;
}

.click a:focus {
		color:green;
}

.container {
		min-height:100%;
		width: 960px;
		margin: auto;
		border:1px solid blue;
		display:flex;
		flex-wrap:wrap;
	
}

.header {
		
		box-sizing:border-box;
		padding:10px 0 0 0;
		margin:0 0 5px 0;
		height:100%;
		border:1px solid green;
		width:100%;
	
		
	}

.footer {
		
		margin-top:10px;
		height:100%;
		width:100%
		background-color:#ccc;
		border:1px solid black;
		text-align:right;
		padding:2px 10px 0 0;
		align-self:flex-end;
		
		
}


.logo {
		padding: 0 0 0 5px;
		clear:both;
}

.course_pic {
		float:left;
		margin-bottom:15px;
		margin-right:5px;
}
	
.menu {
		list-style-type:none;
		padding:5px;
		margin-left:15px;
		float:left;
				
}

.intro_pic,.shop {
		text-align:center;
		margin:auto;
}

.divmenu {
		position:absolute;
		border:1px solid red;
		top:20%;
		right:2%;
		overflow:hidden;
		
}

.menu a {
	
		color:blue;
		font-size:12pt;
		font-style:italic;
		
}

.menu a:hover {
		color:red;
		
}
h4 {
		color:black;
		font-size:18px;
		font-weight:400;
		background-color:#eaeaea;
}

.short {
		color:#707070;
		font-size:14px;
		font-style:italic;
		line-height:16px;
		
}	

.long {
		color:#484343;
		font-size:16px;
		font-weight:400;
		line-height:24px;
		text-align:left;
		
}

.course {
		color:#704300;
		font-size:16px;
		font-weight:300;
		line-height:18px;
		
		
}

input{
		font-style:italic;
		width:60%;
		height:18px;
		color:blue;
		text-transform:capitalize;
		
}

input:first-letter {
	
		text-transform:uppercase; /* потренировался получать доступ к первой букве и делать все буквы заглавными, вместо capitalize */
}

input[type="email"]:focus { background-color: #ccc; }


table{
		border:1px solid black;
		border-collapse:collapse;
		margin:0;
		width:100%;
		
}

td, th{
		border:1px solid black;
		vertical-align:top;
		height:20px;
		text-align:left;
		padding: 5px 0 1px 5px;
		font-size:16px;
}


@media screen and (max-width:400px) {
		
.container {
	width:300px;
	margin:0 auto;
	background-color:red;}
.header{
display:none;}
}





















